/* Estilos para el header */
header {
  position: fixed;
  background-color: #181818;
  width: 100%;
  height: 5em;
  display: flex; /* Utilizamos flexbox para alinear los elementos del header */
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* Agregamos un espaciado interno al header */
  box-sizing: border-box; /* Incluimos el padding dentro del ancho y alto del elemento */
  border-bottom: 1px solid white;
  z-index: 999;
}

/* Estilos para el logo */
.logo {
  position: absolute;
  top: 50%;
  margin-right: 300px;
  transform: translateY(-50%); /* Centramos verticalmente el logo */
}

.logo img {
  color: #ae54f7;
  width: 65px;
  height: 65px;
}


.header-container {
  display: flex; /* Utilizamos flexbox para centrar vertical y horizontalmente */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  height: 100vh; /* Asigna el 100% de la altura de la ventana */
}

/* Estilos para el menú de navegación */
.menu {
  margin-left: auto; /* Añadimos un margen izquierdo automático para que los elementos se alineen a la derecha */
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Utilizamos flexbox para alinear los elementos del menú */
}

.menu li {
  padding: 0 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu li a:hover {
  color: #cc00ff;
}

.menu .current a {
  color: #cc00ff;
}

.menu .current a:hover {
  color: #fff;
}


/* Estilos generales del cuerpo de la página */
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column; /* Cambiamos la dirección de flexbox a vertical */
}

section {
  flex-grow: 1;
  padding: 20px;
}

.container {
  display: flex;
  background-color: #fdf6ee;
  height: 70em;
}
.bold {
  font-weight: bold;
}
/* PACKS DE TEXTURA Y PACKS DE MODS */
.pack0 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  gap: 40px; /* Espacio entre columnas */
  margin-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

.pack {
  border: 1px solid #1f1f1f;
  background-color: white;
  padding: 20px;
  height: 15em;
}

.pack h2 {
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}

.enlace-bonito {
  display: inline-block;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.enlace-bonito:hover {
  color: red;
}

.pack p {
  margin: 20px 0;
}

/* Estilos del botón de descarga */
.boton-descarga a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif ;
  }
  
  .boton-descarga {
    z-index: 2;
    width: 150px;
    height: 50px;
    margin-top: 3em;
    background-color: #2c2c2c;
    color: white;
    font-weight: bold;
    border: none;
    background-image: linear-gradient(to right, #5477f7, hsl(236, 100%, 60%));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left center;
    transition: background-size 0.5s ease-in-out;
    border-radius: 5px 0 5px 0;
  }
  
  .boton-descarga:hover {
    background-size: 100% 100%;
  }

  /* Pie de pagina */
footer {
  background-color: #181818;
  width: 100%;
  height: 5em;
  display: flex; /* Utilizamos flexbox para alinear los elementos del header */
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Agregamos un espaciado interno al header */
  box-sizing: border-box; /* Incluimos el padding dentro del ancho y alto del elemento */
}

footer p {
  color: white;
}
